.outside{
    padding: 20px;
}

.boxarea{
    height: 18vh;
}

.msg{
    text-align: center;
    padding: 5px;
    font-size: 40px;
    color:white;
}

.box{
    font-size: 18px;
    width: 99%;
}
.sub {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    position: absolute;
    left: 40%;
}
.sub:hover {
    transform: scale(1.1);
}