.header {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: inherit;
}
.background {
    background-color:#2774AE;
    left: 20px;
    padding: 10px;
    font-family: 'Gill Sans';
    letter-spacing: 0.5px;
}
.formarea {
    background-color: white;
    left: 20px;
    height: 100vh;
    font-size: 35px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.input {
    font-size: 30px;
    width: 99%;
    letter-spacing: 0.5px;
    font-family: 'Gill Sans';
}
.share {
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
    width: 20%;
    position: absolute;
    left: 40%;
}
.share:hover {
    transform: scale(1.1);
}
.message {
    text-align: center;
    padding: 5px;
    font-size: 40px;
    color:black;
}
