.login-background{
    background-color: #2774AE;
    width: 100%;
    height: 100vh;
}
.login-box{
    background-color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
    border-radius: 10px;
}